body {
  background-color: #CCFFFF;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

input {
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

li button {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

span {
  font-size: 18px;
}

.check-button {
  background-color: rgb(95, 175, 95);
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.7s ease, color 0.7s ease;
}

.delete-button {
  background-color: rgb(230, 122, 122);
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.7s ease, color 0.7s ease;
}


